<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FindMyRepository.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2ED09E01C65C1A10097EBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2ED09FC1C65C1A10097EBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2ED0A071C65C1A10097EBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
